@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');
@import './components/index.css';
@import './template/index.css';
@import './vendors/index.css';
@import './tailwind/index.css';

body.dialog-scroll {
  overflow-y: hidden;
  overflow-x: hidden;
}

.dialog-scroll .dialog-overlay-after-open {
  overflow-x: hidden;
  overflow-y: auto;
}

.models {
  display: flex;
  flex-wrap: wrap;
}

.models .model {
  border: 1px solid #ddd;
  color: #fff;
  font-size: 11px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.model ul {
  list-style: disc;
}

.logo {
  padding-top: 15px;
  padding-bottom: 15px;
}

.logo img {
  border-radius: 5px;
}

.side-nav-custom ul {
  margin-left: 0;
  padding-left: 0.6rem;
  list-style: none;
}

.side-nav-custom ul li:after {
  display: block;
  position: absolute;
  content: '';
  bottom: 50%;
  left: 0;
  width: 1rem;
  height: 80px;
  border: 1px solid;
  border-bottom-left-radius: 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  z-index: 2;
}

/* .side-nav-custom ul div {
  margin-left: 1rem;
} */

.side-nav-custom li {
  position: relative;
  cursor: pointer;
  color: #cbd5e1;
}

.side-nav-custom li:active {
  background-color: rgba(0, 0, 0, 0);
}

.side-nav-custom ul li:last-child::before {
  display: block;
  position: absolute;
  content: '';
  top: 50%;
  margin-top: -5px;
  left: 0;
  width: 1rem;
  height: 100%;
  z-index: 1;
}

.side-nav {
  font-size: 0.9rem !important;
}
